body {
  margin: 0 auto;
  overflow-y: hidden;
  width: 100vw;
}

canvas {
  border-bottom: 1px solid black;
}

.error {
  color: #f14b4b;
}

.type-d {
  color: #f75308;
}

.type-i {
  color: #ab2dff;
}

.type-s {
  color: #8eec68;
}

.syntax-name {
  color: #1bddf7;
}

#bottom {
  padding-left: 1vw;
}

#left,
#right {
  border: 0;
  display: inline-block;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#left {
  float: left;
  width: 800px;
}

#right {
  background: #0a181d;
  color: white;
  font: 1em 'Inconsolata', 'Source Code Pro', 'Consolas', monospace;
  width: calc(100vw - 800px);
}

#output {
  height: 93vh;
  overflow-y: scroll;
  padding: 1vh 1vw;
}

input[type="text"] {
  background: inherit;
  border: none;
  color: inherit;
  display: table-cell;
  font: inherit;
  height: 5vh;
  vertical-align: middle;
  width: calc(99vw - 800px - 1em);
}

input[type="text"]:focus {
  outline: none;
}